
<p>Ceci est la page d'accueil, qui affiche tous les évènements </p>

<% @event.each do |index|  %>
<%=	index.title %>
<%=	index.start_date%>
<%=	index.price %>
<%= link_to "Page de l'event", event_path(index) %> 
<%end%>


